<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alice.support.module.demo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.alice.support.module.demo.entity.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_photo" property="userPhoto"/>
        <result column="user_age" property="userAge"/>
    </resultMap>
</mapper>