<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.novel.module.common.mapper.NovelChapterMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alice.novel.module.common.entity.NovelChapter">
        <id column="ID" property="id"/>
        <result column="NOVEL_INFO_ID" property="novelInfoId"/>
        <result column="CHAPTER_NUMBER" property="chapterNumber"/>
        <result column="CHAPTER_NAME" property="chapterName"/>
        <result column="CHAPTER_CONTENT" property="chapterContent"/>
        <result column="CHAPTER_PART" property="chapterPart"/>
        <result column="CHAPTER_WORDS_COUNT" property="chapterWordsCount"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NOVEL_INFO_ID, CHAPTE_NUMBER, CHAPTER_NAME, CHAPTER_CONTENT, CHAPTER_PART, CHAPTER_WORDS_COUNT
    </sql>

    <select id="queryChapterList" resultType="com.alice.novel.module.common.entity.NovelChapter">
        SELECT T.ID,T.NOVEL_INFO_ID,T.CHAPTER_NUMBER,T.CHAPTER_NAME,T.CHAPTER_PART,T.CHAPTER_WORDS_COUNT
        FROM T_NOVEL_CHAPTER T
        WHERE T.NOVEL_INFO_ID = #{chapterInfoQueryDTO.novelInfoId}
        <if test="chapterInfoQueryDTO.id!=null and chapterInfoQueryDTO.id!=''">
            AND T.ID=#{chapterInfoQueryDTO.id}
        </if>
        ORDER BY T.CHAPTER_NUMBER
    </select>
</mapper>
