<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.novel.module.common.mapper.ReptileJobDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alice.novel.module.common.entity.ReptileJobDetail">
        <id column="ID" property="id"/>
        <result column="REPTILE_JOB_ID" property="reptileJobId"/>
        <result column="REPTILE_URL" property="reptileUrl"/>
        <result column="DONE_FLAG" property="doneFlag"/>
        <result column="ERROR_MSG" property="errorMsg"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, REPTILE_JOB_ID, REPTILE_URL, DONE_FLAG, ERROR_MSG
    </sql>
</mapper>
