<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- 指定日志保存的根目录 -->
    <property name="LOG_ROOT" value="/home/project/logs" />

    <!-- 使用 Spring Boot 的属性 -->
    <springProperty scope="context" name="PROJECT_NAME" source="spring.application.name" />

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 开启行号-->
        <includeCallerData>true</includeCallerData>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="CONSOLE"/>
    </appender>

    <!-- 按日期保存的文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT}/${PROJECT_NAME}/ehcache.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留7天的日志 -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.alibaba.nacos.client.naming">
        <level value="ERROR"/>
    </logger>
    <logger name="com.baomidou.mybatisplus.core.metadata.TableInfoHelper">
        <level value="ERROR"/>
    </logger>

    <!-- 日志输出级别 -->
    <root level="ERROR">
        <appender-ref ref="ASYNC-CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
